/* Standard */
html {
    font-size: 10px;
}

/* ------------ */
.header {
    align-items: left;
}

*{
    margin: 0px;
    padding:0px;
  }
  .wrapper{
    width: 100%;
    overflow: hidden;
  }
.section__content {
    margin-top: 15px;
    margin-bottom: 10px;
}
.section__content .icon {
    width: 42px;
    height: 30px;
    margin-right: 10px;
}
.container{
    width: 100%;
     padding-left: 0px;
    padding-right: 0px; 
}
.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 1.5rem;
    
    margin-right: 0px;
    margin-left: 0px;
}
.container-fluid{
    padding-left:100px;
    padding-right:100px;
    width: 100%;
}
.heading {
    font-family: 'Roboto', sans-serif;
    color: #006BAA;
    font-weight: bold;
    font-size:2.2rem;
    text-transform: uppercase;
    vertical-align: middle;
    margin-bottom: 15px;
    /* margin-top: 25px; */
    margin-left: -8px;
    letter-spacing: -1px;
}

.mainLoader {
    margin: 0;
    position: absolute;
    top: -2%;
    left: 25%;
    transform: translate(-50%, -50%);
  }
  .mainpageLoader{
    margin: 0;
    position: absolute;
    top: 20%;
    left: 25%;
    transform: translate(-50%, -50%);
  }
/*--- card styling--- */
.card{
    cursor: pointer;
}
.card .imageCard {
    height: 216px;
    cursor: pointer;
    display: block;

}
/* .card .ImageLibrary .imageCard {
    height: 216px;
    cursor: pointer;
    display: block;

}  */
.card .imageCardTv {   
    cursor: pointer;
}
.card .play {
    width: 91px;
    height: 91px;
}
.card .Tvad_Play {
    width: 91px;
    height: 91px;
}

.card::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    cursor: pointer;
   background: linear-gradient(360deg,
  rgba(255, 255, 255, 0) 0%, 
  rgba(4, 20, 51, 0.5018382352941176) 100%);
}

/* ------------- */

.imageContent {
    position: absolute;
    bottom: 0px;
    z-index: 9;
    justify-content: space-between;
    width: 100%;
    cursor: pointer;
    padding: 10px;
}
.imageContent .mb-0  {
    color: white;
    font-size: 19px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-transform: uppercase;

}
.imageContent a h3{
    color: white;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    padding-left: 45px;

}
.imageContentTv h4 {
    color: #026AAA;
    font-size: 21px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    text-align: left;
    padding: 0px;
    margin-top: 3px;
}
.imageContentTv p {
    color: #393939;
    font-size: 14px;
    font-family:'Roboto', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    text-align: left;
    padding: 0px;
    margin-top: -9px;
}
.imageContent a {
    color: white;
    text-transform: uppercase;
    text-decoration: underline;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 9px;
    text-underline-offset: 3px;
    text-align: right;
}
.play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    cursor: pointer;
}
.Tvad_Play {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
}


/* .library >.card>.imageContent>.col-3>a {
    display: none;
} */
/* .library >.card>.imageContent>h3 {
    text-align: left!important;
} */
/* 
.bg {
    background-color: #EFF7FE;
} */


/* Cards Style for Upcoming Event */
.cards .upeventImage {
    width: 100%;
    cursor: pointer;
}

.cards .content {
    padding: 0px 29px 0px 16px;
    min-height: 151px;
}
.card .content p {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 11px;
    padding: 0px;
    margin-bottom: 2.5px;
    text-align: left;
    color: #A9A9A9;
}
.card .content h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #2D69A5;
    font-size: 18px;
    padding: 0px;
    margin-bottom: 16px;
    text-align: left;
}
.cards {
    min-height: 302px;
    margin-bottom: 30px;
}
.content h4 {
    text-transform: uppercase;
    color: #006BAA;
    font-weight: bold;
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
}
.col-12, .col-xl-3, .col-sm-6, .col-md-6, .col-lg-4, .col-xl-4{
    position: relative;
    width: 100%;
     padding-right: 7px; 
     padding-left: 7px; 
     margin-top: -5px;
}
.col-9, .col-md-9, .col-3 , .col-md-3{
    padding-right: 0px;
    padding-left: 0px;
}
.imageLibrary {
    display: flex;
    justify-content: space-between;
}
.imageLibrary a {
    border: 1px solid #006BAA;
    color: #006BAA !important;
    background-color: white;
    font-size: 11px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    padding: 4px 13px;
    border-radius: 4px;
    width: 78px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
}
.blueBorder {
    width: 100%;
    height: 6px;
    background-color: #1e7fd3;}
.video-popup {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 10;
    background: rgba(0, 0, 0, 0);
    width: 100%;
    height: 100%;
    display: none;
}
.video-popup__inner {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.video-popup__inner video {
    /* width: 800px;
    height: 430px;  */
    width: 600px;
    height: 340px;
    z-index: 9;
    margin-left: -50px;
   /* z-index: 9;
   margin-top: 1px;
   height: 283px;
   width: 100%; */
}
.video-con{
    /* background-image: url('http://arbordayblog.org/wp-content/uploads/2016/06/tree.jpg'); */
    background-image: url('../../src/asset/IconImage/Group862.png');
    background-size: cover;
    position: relative;
    height: 250px;
    width: 500px;
}
.video-popup__inner audio {
    /* width: 400px; */
    /* height: 330px; */
    z-index: 9;
    margin-top: 228px;
    height: 20px;
    width: 100%;
    /* margin-right: 50px; */
}
.video-popup .video-popup__inner span {
    position: absolute;
    top: 133px;
    right: 330px;
    /* top: 120px;
    right: 150px; */
    font-size: 30px;
    color: #fff;
    font-weight: bold;
    z-index: 10;
    cursor: pointer;
}

.video-popup .video-popup__inner::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.4);
    cursor: pointer;
}
  /* EventCalender css start */
.title-103 span ,.title-90 span ,.title-123 span ,.title-116 span ,.title-114 span{/*event title*/
     font-family: 'Roboto', sans-serif;
    color: #006BAA;
    font-weight: bold;
    font-size:2.2rem;
    text-transform: uppercase;
    vertical-align: middle;
    margin-bottom: 15px;
    /* margin-top: 15px; */
    letter-spacing: -1px;
    /* background-image: url('../../../asset/IconImage/Path 15872.png'); */
}   
.a_a_50a7110f:not(.c_a_50a7110f):not(.b_a_50a7110f),.a_e_50a7110f:not(.b_e_50a7110f):not(.o_e_50a7110f) {/*event backcolor*/
    background-color: #EFF7FE;
}
.a_c_50a7110f:not(.b_c_50a7110f) {/* Live event backcolor*/
    background-color: #EFF7FE;
}
.aj_h_658c9e0a {/*Event calender div margin left*/
    margin-left: 30px;
    margin-top: -10px;
}
.title-104 span,.title-125 span,.title-109 span  {/*event title*/
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #2D69A5;
    font-size: 2.2rem;
    padding: 0px;
    text-align: left;
    text-transform: uppercase;
}

.af_b_ce1e465e .v_b_ce1e465e,.i_c_ce1e465e .av_c_ce1e465e{/*event category*/
    /* margin-right: 12px; */
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
    padding: 0px;
    margin-bottom: 2.5px;
    text-align: left;
    color: #A9A9A9;
}
.a_e_50a7110f:not(.b_e_50a7110f),.a_c_50a7110f:not(.b_c_50a7110f) {
    padding-left: 30px;
    padding-right: 30px
}
.af_b_ce1e465e .x_b_ce1e465e,.i_c_ce1e465e .ax_c_ce1e465e{/*event main pupose/Title*/
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #2D69A5;
    font-size: 1.8rem;
    /* padding: 0px; */
     margin-bottom: 0px;
    text-align: left;
}
.af_b_ce1e465e .z_b_ce1e465e,.i_c_ce1e465e .az_c_ce1e465e{/*event date*/
    margin-right: 12px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1.3rem;
    margin-top: 5px;
    text-align: left;
    color: black;
}
.aa_b_ce1e465e, .ba_c_ce1e465e{/*event location*/
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
    padding: 0px;
    margin-bottom: 10px;
    text-align: left;
    color: #A9A9A9;
    /* margin-right: 12px; */
}
/* EventCalender css end */
.title-53{
    display: none;
}

@media (max-width:991px) {
    .video-popup__inner video {
        /* width: 700px;
        height: 380px; */
        width: 550px;
        margin-top: -30px;
    }
    .video-popup .video-popup__inner span {  
        top: 138px;
        right: 198px;
    }
    .video-con{
        width: 50%;
        background-repeat: no-repeat;
    }
    .heading {
        font-size: 2.0rem;
    }
    .title-103 span ,.title-90 span ,.title-123 span ,.title-116 span ,.title-114 span{/*event title*/
        font-size:2.0rem;
     }
    .carouselItemWrapper{
        padding-left: 10px;
        margin-right: 10px;
    }
    .c_c_ce1e465e .aj_c_ce1e465e {
        height: 150px;
        width: 100%;
        min-width: 100%;
        margin-left: 10px;
    }  
    .container
    {
        max-width: 100%;
    }
    .a_a_50a7110f:not(.b_a_50a7110f).h_a_50a7110f {
        margin-left: 0px;
    }
    /* .a_c_50a7110f:not(.b_c_50a7110f):not(.i_c_50a7110f) {
        width: 108%;
    } */
    .af_b_ce1e465e .x_b_ce1e465e,.i_c_ce1e465e .ax_c_ce1e465e{/*event main pupose/Title*/
        font-size: 1.6rem;
    }
    .a_b_50a7110f:not(.b_b_50a7110f):not(.e_b_50a7110f) {/*event backcolor*/
        padding: 0px;
    }
    .aq_g_658c9e0a {
        margin-right: 40px;
    }
    
}

@media (max-width:767px) {
    .video-popup__inner video {
        /* width: 500px;
        height: 350px; */
        width: 450px;
        margin-top: -50px;
        /* margin-top: -20px; */
    }
    .video-popup .video-popup__inner span {  
        top: 151px;
        right: 86px;
    }
    .video-con{
        width: 60%;
        background-repeat: no-repeat;
    }
    .heading {
        font-size: 1.8rem;
    }
    .af_b_ce1e465e .x_b_ce1e465e,.i_c_ce1e465e .ax_c_ce1e465e{/*event main pupose/Title*/
        font-size: 1.4rem;
    }
    .title-103 span ,.title-90 span ,.title-123 span ,.title-116 span ,.title-114 span{/*event title*/
        font-size:1.8rem;
     }
    .carouselItemWrapper{
        padding-left: 10px;
        margin-right: 10px;
    }
    .c_c_ce1e465e .aj_c_ce1e465e {
        height: 150px;
        width: 100%;
        min-width: 100%;
        margin-left: 10px;
    }
    .container
    {
        max-width: 100%;
    }
    .a_a_50a7110f:not(.b_a_50a7110f).h_a_50a7110f {
        margin-left: 0px;
    }
    /* .a_c_50a7110f:not(.b_c_50a7110f):not(.i_c_50a7110f) {
        width: 108%;
    } */
    
    .a_b_50a7110f:not(.b_b_50a7110f):not(.e_b_50a7110f) {/*event backcolor*/
        padding: 0px;
    }
    .aq_g_658c9e0a {
        margin-right: 40px;
    }
   
}

@media (max-width:575px) {
    .video-con{
        width: 60%;
        background-repeat: no-repeat;     
        height: 150px;
    }
    .video-popup__inner video {
        margin-top: -80px;
        width: 340px;
        /* width: 360px;
        height: 320px; */
        /* margin-top: -100px;
        margin-left: 1px;
        width: 100%; */
    }
    .video-popup__inner audio {
        margin-top: 120px;
        /* margin-right: 50px; */
    }
    .video-popup .video-popup__inner span {  
        top: 210px;
        right: 16px;
        /* top: 130px;
        right: 10px; */
    }
    .heading {
        font-size: 1.8rem;
    }
    .title-103 span ,.title-90 span ,.title-123 span ,.title-116 span ,.title-114 span{/*event title*/
        font-size:1.8rem;
     }
     .af_b_ce1e465e .x_b_ce1e465e,.i_c_ce1e465e .ax_c_ce1e465e{/*event main pupose/Title*/
        font-size: 1.2rem;
    }
    .carouselItemWrapper{
        padding-left: 10px;
        margin-right: 10px;
    }
    .c_c_ce1e465e .aj_c_ce1e465e {
        height: 150px;
        width: 100%;
        min-width: 100%;
        margin-left: 10px;
    }
    .col-3 ,.col-md-3{
        padding-right: 10px;
    }
    .container
    {
        max-width: 100%;
    }
    .a_a_50a7110f:not(.b_a_50a7110f).h_a_50a7110f {
        margin-left: 0px;
    }
    /* .a_c_50a7110f:not(.b_c_50a7110f):not(.i_c_50a7110f) {
        width: 108%;
    } */
    
    .a_b_50a7110f:not(.b_b_50a7110f):not(.e_b_50a7110f) {/*event backcolor*/
        padding: 0px;
    }
    .aq_g_658c9e0a {
        margin-right: 20px;
    }
    a.title-142, a.title-143, a.title-160, a.title-159, a.title-152, a.title-150, a.title-149 a.title-120,a.title-114{ /*gep title hide*/
        display: none;
    }
}

/* 
@media (max-width:540px){
    .video-popup__inner video{
        width: 50%;
    }
} */
