/* Standard */
html {
    font-size: 10px;
}
/* ------------ */
.header {
    align-items: left;
}
*{
    margin: 0px;
    padding:0px;
  }
  .wrapper{
    width: 100%;
    overflow: hidden;
  }
.section__content {
    margin-top: -80px;
}
.section__content .icon {
    width: 43px;
    height: 32px;
    margin-right: 10px;
}
.container{
    width: 100%;
     padding-left: 0px;
    padding-right: 0px; 
}
.row {
    margin-right: 0px;
    margin-left: 0px;
    --bs-gutter-x: 0rem;
}
.a_c_50a7110f:not(.b_c_50a7110f):not(.i_c_50a7110f) {
    padding: 0px;
}
.container-fluid{
    width: 100%;
    padding-right: 5px;
   padding-left: 5px;
}
.col-12, .col-sm-6, .col-md-6 .col-lg-4, .col-xl-4{
   position: relative;
   width: 100%;
    padding-right: 10px; 
    padding-left: 10px;
    
}
.mainLoader {
    margin: 0;
    position: absolute;
    top: -2%;
    left: 25%;
    transform: translate(-50%, -50%);
  }
  .mainpageLoader{
    margin: 0;
    position: absolute;
    top: 20%;
    left: 25%;
    transform: translate(-50%, -50%);
  }
  .mh_at_9f38462c.bq_at_9f38462c ,.mj_ar_9f38462c.bh_ar_9f38462c{
    display: none;
}

/*--- card styling--- */
.CardTitle{
    font-family: 'Roboto', sans-serif;
    color: #006BAA;
    font-weight: bold;
    font-size: 2.4rem;
    text-transform: uppercase;
    vertical-align: middle;
    margin-left: 10px;
    letter-spacing: -1px;
}
.card{
    cursor: pointer;
    /* background: transparent 0% 0% no-repeat padding-box; */
}
.card .imageCard {
    height: 230px;
    cursor: pointer;
    display: block;
}
.card::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: linear-gradient(360deg,
  rgba(255, 255, 255, 0) 0%, 
  rgba(4, 20, 51, 0.2) 100%);
    cursor: pointer;
}
.lz_ap_9f38462c.bb_ap_9f38462c {/* ImageGallery title*/
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    color: #006BAA;
    font-weight: bold;
    font-size: 2.2rem;
    text-transform: uppercase;
    vertical-align: middle;
    letter-spacing: -1px;
    margin-left: 5px;
}
.mf_as_9f38462c.bn_as_9f38462c {
      /* font-size: 32px; */
      font-family: 'Roboto', sans-serif;
      color: #006BAA;
      font-weight: bold;
      font-size: 2.2rem;
      text-transform: uppercase;
      vertical-align: middle;
       margin-bottom: -25px;
      margin-left: 55px;
      letter-spacing: -1px;
}
.bg {
    background-color: #EFF7FE;
}
.content h4 {
    text-transform: uppercase;
    color: #006BAA;
    font-weight: bold;
    font-size: 22px; 
}

.a_a_50a7110f:not(.b_a_50a7110f) {
    padding: 0px;
    margin: 24px 0;
}

.blueBorder {
    width: 100%;
    height: 6px;
    background-color: #1e7fd3;

 }
 .card .play {
    width: 91px;
    height: 91px;
}
 .play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    cursor: pointer;
}
.video-popup {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 10;
    background: rgba(0, 0, 0, 0);
    width: 100%;
    height: 100%;
    display: none;
}

.video-popup__inner {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.video-popup__inner video {
    width: 800px;
    height: 430px;
    z-index: 9;
    margin-left: -20px;
  
}
.video-con{
    background-image: url('../../../asset/IconImage/Group862.png');
    background-size: cover;
    position: relative;
    height: 250px;
    width: 500px;
}
.video-popup__inner audio {
    /* width: 400px; */
    /* height: 330px; */
    z-index: 9;
    margin-top: 228px;
    height: 20px;
    width: 100%;
    /* margin-right: 50px; */
}
.video-popup .video-popup__inner span {
    position: absolute;
    top: 158px;
    right: 381px;
    /* top: 100px;
    right: 350px; */
    font-size: 30px;
    color: #fff;
    font-weight: bold;
    z-index: 10;
    cursor: pointer;
}

.video-popup .video-popup__inner::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.4);
    cursor: pointer;
}
.title-53{
    display: none;
}

@media (max-width:991px) {
    .lz_ap_9f38462c.bb_ap_9f38462c {/* ImageGallery title*/
        font-size: 2.0rem;
        margin-left: -7px
    }
    .video-con{
        width: 70%;
        background-repeat: no-repeat;
    }
    .video-popup .video-popup__inner span { 
        top: 97px;
        right: 98px;
        /* top: 120px;
        right: 30px; */
    }  
    .mf_as_9f38462c.bn_as_9f38462c {
        margin-left: -15px;
        font-size: 2.0rem;
    }
    .container
    {
        max-width: 100%;
    }
    .CardTitle{
        font-size: 2.2rem;
    }
}

@media (max-width:767px) {
    .lz_ap_9f38462c.bb_ap_9f38462c {/* ImageGallery title*/
        font-size: 1.8rem;
        margin-left: -7px
    }
    .video-con{
        width: 70%;
        background-repeat: no-repeat;
    }.video-popup .video-popup__inner span {
        top: 103px;
        right: 69px;
        /* top: 120px;
        right: 30px; */
    }
    .mf_as_9f38462c.bn_as_9f38462c {
        margin-left: -15px;
        font-size: 1.8rem;
    }
    .container
    {
        max-width: 100%;
    }
    .CardTitle{
        font-size: 2.0rem;
    }
}

@media (max-width:575px) {
    .lz_ap_9f38462c.bb_ap_9f38462c {/* ImageGallery title*/
        font-size: 1.8rem;
        margin-left: -7px
    }
    .video-con{
        width: 70%;
        background-repeat: no-repeat;     
       
    }
    .video-popup .video-popup__inner span {  
        top: 105px;
        right: 43px;
        /* top: 110px;
        right: 60px; */
    }
    .mf_as_9f38462c.bn_as_9f38462c {
        margin-left: -15px;
        font-size: 1.8rem;
    }
    a.title-142, a.title-143, a.title-160, a.title-159, a.title-152, a.title-150, a.title-149 a.title-120{ /*gep title hide*/
        display: none;
    }
    .CardTitle{
        font-size: 1.8rem;
    }
}
