/* Standard */
html {
    font-size: 10px;
}
/* ------------ */
.header {
    align-items: left;
}
*{
    margin: 0px;
    padding:0px;
  }
  .wrapper{
    width: 100%;
    overflow: hidden;
  }
.section__content .icon {
    width: 43px;
    height: 32px;
    margin-right: 10px;
}

.heading {
    font-family: 'Roboto', sans-serif;
    color: #006BAA;
    font-weight: bold;
    font-size:2.7rem;
    text-transform: uppercase;
    vertical-align: middle;
    margin-bottom: 15px;
    margin-left: -10px;  
}
.mf_as_9f38462c.bn_as_9f38462c {
    /* font-size: 32px; */
  
    font-family: 'Roboto', sans-serif;
    color: #006BAA;
    font-weight: bold;
    font-size: 2.2rem;
    text-transform: uppercase;
    vertical-align: middle;
     margin-bottom: -15px;
    margin-left: 55px;
    letter-spacing: -1px;

}
.TilesTitle{
    /* //font-size:1.3rem; */
    /* font-size:1.4rem;
    color:#026aaa;
    font-family:'Roboto', sans-serif;
    text-transform: uppercase;
    font-weight: bolder; */
    text-align: left;
    font: normal normal bold 1.4rem 'Roboto', sans-serif;
    letter-spacing: 0px;
    color: #026AAA;
    text-transform: uppercase;
    opacity: 1;
    margin-top: 5px;
   
}
.Tilesdescription{
    font-size:1.1rem;
    color:black;
    font-family:'Roboto', sans-serif;
    margin-top: -10px;
}
.lz_ap_9f38462c.bb_ap_9f38462c {/* Listingpage title*/
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    color: #006BAA;
    font-weight: bold;
    font-size: 2.2rem;
    text-transform: uppercase;
    vertical-align: middle;
    letter-spacing: -1px;
    margin-left: 7px;
}
.container{
    width: 100%;
    padding-left: 0px;
    padding-right: 0px; 
}
.row {
    --bs-gutter-x: 0rem;
    margin-right: 0px;
    margin-left: 0px;
}
.a_c_50a7110f:not(.b_c_50a7110f):not(.i_c_50a7110f) {
    padding: 0px;
}
.mainLoader {
    margin: 0;
    position: absolute;
    top: -2%;
    left: 25%;
    transform: translate(-50%, -50%);
  }
  .mainpageLoader{
    margin: 0;
    position: absolute;
    top: 20%;
    left: 25%;
    transform: translate(-50%, -50%);
  }
/*--- card styling--- */
.card{
    cursor: pointer;
}
.card .imageCard {
    height: 230px;
    cursor: pointer;
    display: block;
}

.card .imageCardTv {
    cursor: pointer;
}

.card .play {
    width: 91px;
    height: 91px;
}
.card .Tvad_Play {
    width: 91px;
    height: 91px;
}

.card::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    cursor: pointer;
}

/* ------------- */

.imageContent {
    position: absolute;
    bottom: 0px;
    z-index: 9;
    justify-content: space-between;
    width: 100%;
    cursor: pointer;
    padding: 10px;
}

.imageContent h3 {
    color: white;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-transform: uppercase;

}
.imageContentTv h4 {
    color: #026AAA;
    font-size: 21px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    text-align: left;
    padding: 0px;
    margin-top: 3px;
}

.imageContentTv p {
    color: #393939;
    font-size: 14px;
    font-family:'Roboto', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    text-align: left;
    padding: 0px;
    margin-top: -9px;
}


.imageContent a {
    color: white;
    text-transform: uppercase;
    text-decoration: underline;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 7px;
    text-underline-offset: 3px;
    text-align: right;
}


.play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    cursor: pointer;
}

.Tvad_Play {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
}
.bg {
    background-color: #EFF7FE;
}
/* Cards Style for Upcoming Event */
.cards .upeventImage {
    width: 100%;
    cursor: pointer;
}

.cards .content {
    padding: 0px 29px 0px 16px;
    min-height: 151px;
}
.cards .content p {
    font-family: 'Roboto', sans-serif;;
    font-weight: 500;
    font-size: 11px;
    padding: 0px;
    margin-bottom: 2.5px;
    text-align: left;
    color: #A9A9A9;
}

.cards .content h4 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #2D69A5;
    font-size: 18px;
    padding: 0px;
    margin-bottom: 16px;
    text-align: left;
}
/* cards Button */
.cards {
    min-height: 302px;
    margin-bottom: 30px;
}

.content h4 {
    text-transform: uppercase;
    color: #006BAA;
    font-weight: bold;
    font-size: 22px;
    
}
.a_a_50a7110f:not(.b_a_50a7110f) {
    padding: 0px;
    margin: 24px 0;
}
.col-12, .col-sm-6, .col-md-6 .col-lg-4, .col-xl-4{
    position: relative;
    width: 100%;
     padding-right: 10px; 
     padding-left: 10px;
     margin-bottom:-20px;   
}
.imageLibrary {
    display: flex;
    justify-content: space-between;
}

.imageLibrary a {
    border: 1px solid #006BAA;
    color: #006BAA !important;
    background-color: white;
    font-size: 11px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    padding: 4px 13px;
    border-radius: 4px;
    width: 78px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
}

.blueBorder {
    width: 100%;
    height: 6px;
    background-color: #1e7fd3;

}
.card .play {
    width: 91px;
    height:
     91px;
}
.title-53{
    display: none;
}
@media (max-width:991px) {
    .lz_ap_9f38462c.bb_ap_9f38462c {/* Listingpage title*/       
        font-size: 2.0rem;
    }
    .TilesTitle{
        font: normal normal bold 1.1rem 'Roboto', sans-serif;
    }
    .mf_as_9f38462c.bn_as_9f38462c {
        margin-left: -15px;
        font-size: 2.0rem;
    }
    .container
    {
        max-width: 100%;
        padding-left: 7px;
        padding-right: 7px; 
    }
 
}

@media (max-width:767px) {
    .lz_ap_9f38462c.bb_ap_9f38462c {/* Listingpage title*/       
        font-size: 1.8rem;
    }
    .TilesTitle{
        font: normal normal bold 1.0rem 'Roboto', sans-serif;
    }
    .mf_as_9f38462c.bn_as_9f38462c {
        margin-left: -15px;
        font-size: 1.8rem;
    }
    .container
    {
        max-width: 100%;  
        padding-left: 7px;
        padding-right: 7px; 
    }
}

@media (max-width:575px) {
    .lz_ap_9f38462c.bb_ap_9f38462c {/* Listingpage title*/       
        font-size: 1.8rem;
    }
    .TilesTitle{
        font: normal normal bold 1.0rem 'Roboto', sans-serif;
    }
    .mf_as_9f38462c.bn_as_9f38462c {
        margin-left: -15px;
        font-size: 1.8rem;
    }
    .container
    {
        max-width: 100%;
        padding-left: 7px;
        padding-right: 7px; 
    }
    a.title-142, a.title-143, a.title-160, a.title-159, a.title-152, a.title-150, a.title-149 a.title-120{ /*gep title hide*/
        display: none;
    }
}



